html{background-color:rgb(33, 33, 58);}

h1 {color:chartreuse; font-family: 'Courier New', Courier, monospace; font-size: 70px;}
h2 {color:blueviolet; font-family: 'Courier New', Courier, monospace; font-size: 40px;}

p {color:aliceblue; font-family: 'Courier New', Courier, monospace; font-size: 20px;}
.p1{text-align: right; color:rgb(166, 235, 200)}
.p2{color:rgb(197, 197, 233)}
.p3{color:rgb(190, 212, 161); text-align: right;}