html{background-color: rgb(99, 54, 117);}
h1{font-family: 'futura'; font-size: 60px; color:rgb(239, 226, 250); text-align: center; font-style: normal;}
h2{font-family: 'futura'; text-align: center; font-size: 30px; color: rgb(245, 209, 227);}
p{font-family: 'futura'; text-align: center; color: plum;}
img{text-align: center;}